* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
}

body {
    background-color: rgb(104, 154, 123);
    text-align: center;
}

.main-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.clicker {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    color: rgba(204, 74, 4, 0.899);
    font-size: 3rem;
    background-color: #ffffc7;
}

.reset {
    font-size: 3vmin;
    height: 10vmin;
    width: 28vmin;
    border: 5px solid white;
    border-radius: 4px;
    box-shadow: 0 0 0.75rem rgb(111, 111, 111);
    background-color: rgb(104, 154, 123);
    color: white;
}

.newgame {
    font-size: 3vmin;
    height: 10vmin;
    width: 28vmin;
    border: 5px solid white;
    border-radius: 4px;
    box-shadow: 0 0 0.75rem rgb(111, 111, 111);
    background-color: rgb(104, 154, 123);
    color: white;
}

.Win {
    font-size: 8vmin;
}

.hide {
    display: none;
}